@use '../abstracts' as *;

/* Container for layout */

.container {
    width: 100%;
    margin-inline: auto;
    padding-inline: px-to-rem(16);
    max-width: map-get($breakpoints, 'sm');

    @include respond-to('md') {
        padding-inline: px-to-rem(64);
        max-width: map-get($breakpoints, 'md');
    }

    @include respond-to('lg') {
        padding-inline: px-to-rem(128);
        max-width: map-get($breakpoints, 'lg');
    }
}
