@use '../abstracts' as *;

/* Container for layout */

.container {
    width: 100%;
    margin-inline: auto;

    /* Mobile Baseline (Below 430px) */
    padding-inline: px-to-rem(16);
    max-width: map-get($breakpoints, 'sm');

    /* Tablet Breakpoint */
    @include respond-to('md') {
        padding-inline: px-to-rem(64);
        max-width: map-get($breakpoints, 'md');
    }

    /* Desktop Breakpoint */
    @include respond-to('lg') {
        padding-inline: px-to-rem(128);
        max-width: map-get($breakpoints, 'lg');
    }
}
