@use '../components/buttons';
@use '../abstracts' as *;

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: $spacing-xl;
    position: relative;
    z-index: 999;

    &__buttons-layout {
        @include flex-center;
        gap: $spacing-md;
        flex-wrap: wrap;
        z-index: 99;
        @include respond-to('md') {
            order: 2;
        }
        @include respond-to('lg') {
            order: 3;
        }
    }

    &__hamburger {
        @include flex-center;
        background: none;
        border: none;
        font-size: px-to-rem(48);

        @include respond-to('lg') {
            display: none;
        }
    }

    &__links {
        position: relative;
    }

    &__menu {
        @include flex-center;
        flex-direction: column;
        gap: $spacing-lg;
        position: absolute;
        top: 102%;
        right: 0;
        scale: 0;
        transform-origin: top right;
        width: max-content;
        background-color: $color-primary;
        color: $color-background;
        padding: $spacing-md;
        border-radius: $border-radius-md;
        transition: all 0.5s ease-in-out;

        &--active {
            scale: 1;
        }

        @include respond-to('md') {
            left: 0;
            right: auto;
            transform-origin: top left;
        }

        @include respond-to('lg') {
            flex-direction: row;
            gap: clamp(2rem, 5vw, 4rem);
            justify-content: space-between;
            font-size: $text-sm;
            position: static;
            background-color: transparent;
            padding: 0;
            color: $color-text-muted;
            scale: 1;
        }
    }

    &__logo {
        width: px-to-rem(40);
        z-index: 99;

        @include respond-to('md') {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        @include respond-to('lg') {
            position: static;
            transform: none;
        }
        & > img {
            width: 100%;
            aspect-ratio: 1/1;
        }
    }

    .icon-menu,
    .icon-menu-close {
        color: $color-primary;

        &--hidden {
            display: none;
        }
    }

    &__link {
        font-size: $text-md;
        transition: color 0.3s ease;

        &:hover {
            color: $color-secondary;
            @include respond-to('lg') {
                color: $color-text;
            }
        }
    }
}

.no-transition {
    transition: none;
}
