@use 'sass:color';
@use '../abstracts' as *;

.stats-card {
    @include flex-center;
    flex-direction: column;
    gap: $spacing-md;
    padding: $spacing-lg;
    border-radius: $border-radius-xl;
    border: 1px solid color.scale($color-text-muted, $lightness: 80%);

    &__value {
        color: $color-orange;
    }
}
