@use 'sass:color';
@use './variables' as *;
@use './functions' as *;

/** Mixin for flexbox centering
*/

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Mixin for responsive media queries
 * @param {String} $size - The breakpoint size (e.g., 'sm', 'md', 'lg', 'xl', '2xl')
*/
@mixin respond-to($size) {
    @if map-has-key($breakpoints, $size) {
        @media (min-width: map-get($breakpoints, $size)) {
            @content;
        }
    } @else {
        @warn "No value found for breakpoint: #{$size}";
    }
}

/** Mixin for button styles
 * @param {Color} $bg-color - The background color of the button
 * @param {Color} $text-color - The text color of the button
*/

@mixin button-styles($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    padding: $spacing-md $spacing-xl;
    border: none;
    border-radius: $border-radius-xl;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-sm;
    cursor: pointer;
    font-size: rem(14);
    transition: background-color 0.3s ease;

    &:hover {
        background-color: color.scale($bg-color, $lightness: -10%);
    }
}

/** Mixin for fluid typography
 * @param {Number} $min-font-size - The minimum font size in rem
 * @param {Number} $max-font-size - The maximum font size in rem
 * @param {Number} $min-vw - The minimum viewport width in px (default: 320px)
 * @param {Number} $max-vw - The maximum viewport width in px (default: 1200px)
 */

@mixin fluid-type(
    $min-font-size,
    $max-font-size,
    $min-vw: 320px,
    $max-vw: 1200px
) {
    font-size: clamp(
        #{$min-font-size},
        calc(
            #{$min-font-size} + (#{$max-font-size} - #{$min-font-size}) * ((
                            100vw - #{$min-vw}
                        ) / (#{$max-vw} - #{$min-vw}))
        ),
        $max-font-size
    );
}

/** Mixin for badge styles
 * @param {Number} $padding-x - The inline padding of badge in rem
 * @param {Number} $padding-y - The block padding of badge in rem
 * @param {Number} $gap - The flex gap between icon and text of badge in rem
 * @param {Number} $font-size - The font size of text in badge in rem
 * @param {Number} $rounded - The border radius of badge in rem
 * @param {color} $bg-color - The background color of badge
 * @param {color} $text-color - The text color of badge
 * @param {Number} $icon-size - The size of icon in the badge
 * @param {color} $icon-color - The color of icon in the badge
 * @param {box-shadow} $shadow - The box shadow of the badge
 */

@mixin badge-styles(
    $padding-x,
    $padding-y,
    $gap,
    $font-size,
    $rounded,
    $bg-color,
    $text-color,
    $icon-size,
    $icon-color,
    $shadow
) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
    width: max-content;
    padding-inline: $padding-x;
    padding-block: $padding-y;
    font-size: $font-size;
    border-radius: $rounded;
    background-color: $bg-color;
    color: $text-color;
    font-weight: bolder;
    box-shadow: $shadow;

    & > .icon {
        font-size: $icon-size;
        color: $icon-color;
    }
}

/** Mixin for circular background element styles
 * @param {Number} $top - The top position of badge in rem or percentage
 * @param {Number} $left - The left position of badge in rem or percentage
 * @param {Number} $bottom - The bottom position of badge in rem or percentage
 * @param {Number} $top - The top position of badge in rem or percentage
 * @param {Number} $size - The size of badge in rem or percentage
 * @param {color} $bg-color - The background color of element
 */

@mixin circular-bg(
    $top: auto,
    $left: auto,
    $bottom: auto,
    $right: auto,
    $size: 50%,
    $bg-color: $color-orange
) {
    position: absolute;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
    filter: blur(10rem);
    z-index: -1;
    opacity: 0.3;
    width: $size;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: $bg-color;
}
