@use 'sass:color';
@use './variables' as *;

/** Mixin for flexbox centering
*/

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Mixin for responsive media queries
 * @param {String} $size - The breakpoint size (e.g., 'sm', 'md', 'lg')
*/
@mixin respond-to($size) {
    @if map-has-key($breakpoints, $size) {
        @media (min-width: map-get($breakpoints, $size)) {
            @content;
        }
    } @else {
        @warn "No value found for breakpoint: #{$size}";
    }
}

/** Mixin for font-face
 * @param {String} $name - Font-family name.
 * @param {String} $path - Base file path (without extension).
 * @param {List} $formats - List of formats (e.g., woff2 woff ttf).
 * @param {Number|String} $weight [normal] - Font weight.
 * @param {String} $style [normal] - Font style.
 * @param {String} $display [swap] - font-display value
*/

@mixin font-face(
    $name,
    $path,
    $formats,
    $weight: normal,
    $style: normal,
    $display: swap
) {
    @font-face {
        font-family: '#{$name}';

        $src-list: ();

        @each $format in $formats {
            $format-string: $format;
            @if $format == 'ttf' {
                $format-string: 'truetype';
            }
            @if $format == 'eot' {
                $format-string: 'embedded-opentype';
            }

            $src-list: append(
                $src-list,
                url('#{$path}.#{$format}') format('#{$format-string}'),
                comma
            );
        }

        src: $src-list;
        font-weight: $weight;
        font-style: $style;
        font-display: $display;
    }
}

/*
* Truncates text after a specified number of lines and appends an ellipsis (...)
* @param {Number} $lines [1] - The maximum number of text lines to display before truncation
*/

@mixin line-clamp($lines: 1) {
    overflow: hidden;
    text-overflow: ellipsis;

    @if $lines == 1 {
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical;
        line-clamp: $lines;
    }
}
