@use '../../abstracts' as *;

.hero {
    @include flex-center;
    flex-direction: column-reverse;
    gap: px-to-rem(64);
    margin-top: px-to-rem(54);

    @include respond-to('lg') {
        flex-direction: row;
        margin-top: px-to-rem(62);
        justify-content: space-between;
    }

    &__badge-explore {
        color: $color-secondary;
    }

    &__icon-badge {
        scale: 0.8;
        @include respond-to('md') {
            scale: 1;
        }
    }

    &__badge-user {
        background-color: $color-orange;
        color: $color-background;
        position: absolute;
        bottom: -2%;
        right: 20%;
        @include respond-to('md') {
            bottom: 0;
        }
    }

    &__badge-send {
        background-color: $color-secondary;
        color: $color-background;
        position: absolute;
        bottom: -15%;
        left: -15%;

        @include respond-to('md') {
            bottom: -5%;
            left: -5%;
        }
    }

    &__badge-top-place {
        background-color: $color-background;
        position: absolute;
        bottom: 10%;
        right: -45%;
        @include respond-to('md') {
            right: -25%;
        }
        @include respond-to('lg') {
            right: -45%;
        }
    }

    &__badge-icon {
        color: $color-yellow;
    }

    &__text-content {
        @include flex-center;
        flex-direction: column;
        text-align: center;
        gap: px-to-rem(32);
        position: relative;

        @include respond-to('md') {
            gap: px-to-rem(48);
        }
        @include respond-to('lg') {
            text-align: left;
            align-items: flex-start;
            max-width: 35%;
        }
    }

    &__highlight {
        color: $color-secondary;
    }

    &__sub-headline {
        color: $color-text-muted;
        max-width: px-to-rem(400);
    }

    &__cta {
        @include flex-center;
        flex-direction: column;
        gap: px-to-rem(24);
        width: 100%;

        @include respond-to('md') {
            flex-direction: row;
        }

        @include respond-to('lg') {
            justify-content: flex-start;
        }
    }

    &__cta-button {
        width: 100%;

        @include respond-to('md') {
            width: auto;
        }

        &:nth-child(1) {
            box-shadow: $shadow-sm;
        }
    }

    &__btn-icon {
        color: $color-primary;
    }

    &__media-content {
        padding: px-to-rem(48 48 0 48);
        background-image: url('/src/assets/images/hero/airplane-flight-paths-on-world-map.png');
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        flex: 1;

        @include respond-to('md') {
            padding: px-to-rem(96 96 0 96);
        }

        @include respond-to('lg') {
            padding: px-to-rem(84 96 0 96);
        }
    }

    &__collage {
        display: grid;
        grid-template: repeat(12, 1fr) / repeat(10, 1fr);
        gap: px-to-rem(16);
        aspect-ratio: 1/1;
        position: relative;

        @include respond-to('md') {
            gap: px-to-rem(24);
        }
    }

    &__image-container:nth-child(1) {
        grid-column: 1 / span 5;
        grid-row: 1 / span 6;
        position: relative;
    }

    &__image-container:nth-child(2) {
        grid-column: 1 / span 5;
        grid-row: 7 / span 6;
    }

    &__image-container:nth-child(3) {
        grid-column: 6 / span 5;
        grid-row: 3 / span 8;
        position: relative;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $border-radius-lg;
    }

    &__triangle-pattern {
        width: px-to-rem(64);
        height: auto;
        z-index: $z-below;
        aspect-ratio: 0.4;
        background-image: url('/src/assets/images/hero/triangle-pattern.png');
        background-repeat: no-repeat;
        background-size: contain;
        display: none;
        position: absolute;
        left: -5%;
        bottom: -10%;
        @include respond-to('md') {
            display: block;
        }

        @include respond-to('lg') {
            left: -25%;
            bottom: -25%;
            width: px-to-rem(56);
        }
    }
}
