@use '../../abstracts' as *;

.partners-ribbon {
    @include flex-center;
    flex-wrap: wrap;
    column-gap: $spacing-lg;
    row-gap: $spacing-xl;
    max-width: px-to-rem(580);
    margin-inline: auto;
    margin-top: $spacing-3xl;

    &__partner-logo {
        width: auto;
        height: px-to-rem(20);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include respond-to('md') {
            height: px-to-rem(32);
        }
    }

    @include respond-to('md') {
        margin-top: calc(2 * #{$spacing-3xl});
    }

    @include respond-to('lg') {
        justify-content: space-between;
        max-width: none;
    }
}
